
.slide
    h1 Zappa on cloud9 (via node.js)
    
.slide
    h2 zappa!
    
    ul
        li.slide Like this one
        li.slide And this one
    
.slide
    h2 Some Example Code
    
    textarea.code(mode='javascript',runnable='true')
        console.log('hello');