
.slide
    h1 Titanium
    
.slide
    h2 Titanium (appcelerator) is cross-platform javascript for mobile and desktop.
    
    ul
        li.slide change
        li.slide And this one
    
.slide
    h2 Some Example Code
    
    textarea.code(mode='javascript',runnable='true')
        console.log('hello');
